<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="true"
       internalLogFile="C:\Temp\NlogInternalError.txt"
       internalLogLevel="Error"
      autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!--<variable name="LogDir" value="${specialfolder:folder=MyDocuments}/MyApp/Log"/>-->
  <variable name="LogDir" value="${basedir}/Logs"/>
  <variable name="LogDay" value="${date:format=yyyy/MM/dd}"/>
    
  <targets>
    <target name="file" xsi:type="File" fileName="${LogDir}/${LogDay}.txt" encoding="utf-8" deleteOldFileOnStartup="false" 
      maxArchiveFiles="50" archiveNumbering="Date" archiveAboveSize="1048576" archiveEvery="Day" archiveFileName="${LogDir}/{#######}.a" />

    <target xsi:type="Database" name="MsqlDatabase" commandText="exec common.p_add_log_entry @TenantId,@UniqueRecordID,@SourceMachineName,@AppCode,@PID,@UserCode,@MessageType,@StackTrace,@ExceptionMessage,@ObjectData,@DestinationMachineName">
      <parameter name="@TenantId" layout="${event-context:item=TenantId}"></parameter>
      <parameter name="@UniqueRecordID" layout="${event-context:item=UniqueID}"></parameter>
      <parameter name="@SourceMachineName" layout="${machinename}"></parameter>
      <parameter name="@AppCode" layout="${processname}"></parameter>
      <parameter name="@PID" layout="${processid}"></parameter>
      <parameter name="@UserCode" layout="${windows-identity}"></parameter>
      <parameter name="@MessageType" layout="${level}"></parameter>
      <parameter name="@StackTrace" layout="${exception:format=StackTrace}"></parameter>
      <parameter name="@ExceptionMessage" layout="${exception:format=Message}"></parameter>
      <parameter name="@ObjectData" layout="${message}"></parameter>
      <parameter name="@DestinationMachineName" layout="${event-context:item=DestinationMachineName}"></parameter>
    </target>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" appendTo="MsqlDatabase"></logger>-->
    <!--<logger name="*" minlevel="Fatal" writeTo="mail"></logger>-->
    <!--<logger name="*" minlevel="Info" appendTo="file"></logger>-->
    <logger name="*" minlevel="Info" writeTo="file"></logger>
  </rules>
</nlog>