<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="true"
       internalLogFile="C:\Temp\NlogInternalError.txt"
       internalLogLevel="Error"
      autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!--<variable name="LogDir" value="${specialfolder:folder=MyDocuments}/MyApp/Log"/>-->
  <variable name="LogDir" value="${basedir}/Logs"/>
  <variable name="LogDay" value="${date:format=yyyy/MM/dd}"/>
    
  <targets>
    <target name="file" xsi:type="File" fileName="${LogDir}/${LogDay}.txt" encoding="utf-8" deleteOldFileOnStartup="false" 
      maxArchiveFiles="50" archiveNumbering="Date" archiveAboveSize="1048576" archiveEvery="Day" archiveFileName="${LogDir}/{#######}.a" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="file"></logger>
  </rules>
</nlog>