<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--WIF 4.5 sections -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <!--WIF 4.5 sections -->

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebApiUrl" value="https://localhost:44303/" />
    <add key="WebApiClientId" value="client_api" />
    <add key="WebApiClientSecert" value="f0883e6f-05ce-4495-9c8a-8027d78e2ac2" />
    <add key="HoldTcpIpConnectioninMemory" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="Auth_Entities" connectionString="" providerName="System.Data.SqlClient" />
    <add name="ANDP_Entities" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <!--WIF 4.5 modules -->
      <!--<add name="ClaimsAuthorizationModule" type="System.IdentityModel.Services.ClaimsAuthorizationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
      <!--WIF 4.5 modules -->
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <!-- WIF 4.5 s.im section-->
  <system.identityModel>
    <identityConfiguration>
    </identityConfiguration>
  </system.identityModel>
  <!-- WIF 4.5 s.im section-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceReport" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ISubscriberService3" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ISubscriberService4" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IVoicemail" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IVoicemail1" maxReceivedMessageSize="20000000" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IVoicemail2" maxReceivedMessageSize="20000000" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IIPTVService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IIPTVService1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ICallingNameService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ICallingNameService1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ICLPService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ICNAService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IIptvAluMmig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IIptvMediaroom" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ILargeScaleConference" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ILocalNumberPortability" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_INotifySchedulerService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IODConferencingService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IOCMService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IWirelessOta" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IUCMService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ITCMService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ISipAcsService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_ISipAcsService1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WSHttpBinding_IApAdmin" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://host:8731/Design_Time_Addresses/ServiceReportV1/ServiceReport/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceReport" contract="ServiceReport.IServiceReport" name="WSHttpBinding_IServiceReport">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/SubscriberServiceV3/SubscriberV3/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriberService3" contract="SubscriberV3.ISubscriberService" name="WSHttpBinding_ISubscriberService3">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/SubscriberServiceV4/SubscriberV4/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriberService4" contract="SubscriberV4.ISubscriberService" name="WSHttpBinding_ISubscriberService4">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/IPTVServiceV3/IPTVService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIPTVService" contract="IPTVServiceV3.IIPTVService" name="WSHttpBinding_IIPTVService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/IPTVServiceV7/IPTVService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIPTVService1" contract="IPTVServiceV7.IIPTVService" name="WSHttpBinding_IIPTVService1">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/IptvAluMmigV1/IptvAluMmig/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIptvAluMmig" contract="IptvAluMmigV1.IIptvAluMmig" name="WSHttpBinding_IIptvAluMmig">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/LargeScaleConferenceV1/LargeScaleConference/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILargeScaleConference" contract="LargeScaleConferenceV1.ILargeScaleConference" name="WSHttpBinding_ILargeScaleConference">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/LocalNumberPortabilityV1/LocalNumberPortability/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocalNumberPortability" contract="LocalNumberPortabilityV1.ILocalNumberPortability" name="WSHttpBinding_ILocalNumberPortability">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/NotifyJobSchedulerV6/NotifySchedulerService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INotifySchedulerService" contract="NotifyJobSchedulerV6.INotifySchedulerService" name="WSHttpBinding_INotifySchedulerService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/OriginatingCallManagementV1/OCMService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOCMService" contract="OriginatingCallManagementV1.IOCMService" name="WSHttpBinding_IOCMService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/WirelessOtaV1/WirelessOta/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWirelessOta" contract="WirelessOtaV1.IWirelessOta" name="WSHttpBinding_IWirelessOta">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/OnDemandConferencing/ODConferencingServiceV3/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IODConferencingService" contract="OnDemandConferencingV3.IODConferencingService" name="WSHttpBinding_IODConferencingService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/IptvMediaroomServiceV1/IptvMediaroom/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIptvMediaroom" contract="IptvMediaroomV1.IIptvMediaroom" name="WSHttpBinding_IIptvMediaroom">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/CallLoggingServiceV3/CLPService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICLPService" contract="CallLoggingV3.ICLPService" name="WSHttpBinding_ICLPService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/CallingNameService/CallingNameServiceV4/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICallingNameService1" contract="CallingNameV4.ICallingNameService" name="WSHttpBinding_ICallingNameService1">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/CNAService/CNAServiceV3/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICNAService" contract="CallingNumberAnnouncementV3.ICNAService" name="WSHttpBinding_ICNAService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/CallingNameService/CallingNameServiceV3/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICallingNameService" contract="CallingNameV3.ICallingNameService" name="WSHttpBinding_ICallingNameService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/UniveralCallManagementV3/UCMService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUCMService" contract="UniveralCallManagementV3.IUCMService" name="WSHttpBinding_IUCMService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/TerminatingCallManagementV3/TCMServiceV3/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITCMService" contract="TerminatingCallManagementV3.ITCMService" name="WSHttpBinding_ITCMService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/SipAcsServiceV1/SipAcs/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISipAcsService1" contract="SipAcsV1.ISipAcsService" name="WSHttpBinding_ISipAcsService1">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/SipAcsServiceV2/SipAcsService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISipAcsService" contract="SipAcsV2.ISipAcsService" name="WSHttpBinding_ISipAcsService">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/LoginService/ApAdmin/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApAdmin" contract="ApAdmin.IApAdmin" name="WSHttpBinding_IApAdmin">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/VoicemailService/VoicemailV3/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVoicemail" contract="VoicemailV3.IVoicemail" name="WSHttpBinding_IVoicemail">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/VoicemailService/VoicemailV4/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVoicemail1" contract="VoicemailV4.IVoicemail" name="WSHttpBinding_IVoicemail1">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
      <endpoint address="http://host:8731/Design_Time_Addresses/VoicemailService/VoicemailV5/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVoicemail2" contract="VoicemailV5.IVoicemail" name="WSHttpBinding_IVoicemail2">
        <identity>
          <servicePrincipalName value="host" />
        </identity>
      </endpoint>
          <endpoint address="http://127.0.0.1:8080/services/ShService" binding="basicHttpBinding" contract="MetaSwitch.Sh" name="ShService" />
    </client>
  </system.serviceModel>
</configuration>