*.Publish.xml
ClientBin/
clientbin/
bin/
Bin/
obj/
*.xap
*.user
*.gpState
*.resharper.user
*.suo
*.sln.cache
*.swp
*.*~
*~
_ReSharper.*/
build
*.sln.docstates
*.orig
combined.css
combined.js
*.diff
doc.shfbproj_*
ASPNETDB.MDF
aspnetdb_log.LDF
*log.txt*
[Tt]est[Rr]esult*
packages/
Packages/
Obj/
*TestResults/*
*Web.Publish.xml
*.tss
packages/*
Packages/*
TestResult.xml
*.rdl.data
*- Backup.rdl
UpgradeLog.htm
ANDP.Provisioning.Javascript.Console/.ntvs_analysis.dat
ANDP.Database/ANDP.Database.dbmdl
Common.Authentication.Database/Common.Authentication.Database.dbmdl
*.tmp
ANDP.Provisioning.API.Rest/Logs/
*.config
*.Config
