<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="true"
       internalLogFile="C:\Temp\NlogInternalError.txt"
       internalLogLevel="Error"
      autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt" deleteOldFileOnStartup="false" />

    <target xsi:type="Database" name="MsqlDatabase" commandText="exec common.p_add_log_entry @UniqueRecordID,@SourceMachineName,@AppCode,@PID,@UserCode,@MessageType,@StackTrace,@ExceptionMessage,@ObjectData,@DestinationMachineName">
      <parameter name="@UniqueRecordID" layout="${event-context:item=UniqueID}"></parameter>
      <parameter name="@SourceMachineName" layout="${machinename}"></parameter>
      <parameter name="@AppCode" layout="${processname}"></parameter>
      <parameter name="@PID" layout="${processid}"></parameter>
      <parameter name="@UserCode" layout="${windows-identity}"></parameter>
      <parameter name="@MessageType" layout="${level}"></parameter>
      <parameter name="@StackTrace" layout="${exception:format=StackTrace:format=Raw}"></parameter>
      <parameter name="@ExceptionMessage" layout="${exception:format=Message}"></parameter>
      <parameter name="@ObjectData" layout="${message}"></parameter>
      <parameter name="@DestinationMachineName" layout="${event-context:item=DestinationMachineName}"></parameter>
    </target>

    <!--<target xsi:type="Mail"
      name="mail"
      html="true"
      subject="Greycon Integration Error"
      body="${message}"
      to="brent.schavee@whatever.com"
      from="brent.schavee@whatever.com"
      smtpServer="relay.whatever.local"
    />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" appendTo="MsqlDatabase"></logger>
    <!--<logger name="*" minlevel="Fatal" writeTo="mail"></logger>-->
    <logger name="*" minlevel="Error" appendTo="file"></logger>
  </rules>
</nlog>
